<a href="https://colab.research.google.com/github/purosh96/COVID-Analysis/blob/main/LogRExtra1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
upload = files.upload()

Saving advertising.csv to advertising.csv

In [4]:
import pandas as pd
data = pd.read_csv('advertising.csv')
data.shape

(1000, 10)

In [5]:
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Daily Time Spent on Site  1000 non-null   float64
 1   Age                       1000 non-null   int64
 2   Area Income               1000 non-null   float64
 3   Daily Internet Usage      1000 non-null   float64
 4   Ad Topic Line             1000 non-null   object
 5   City                      1000 non-null   object
 6   Male                      1000 non-null   int64
 7   Country                   1000 non-null   object
 8   Timestamp                 1000 non-null   object
 9   Clicked on Ad             1000 non-null   int64
dtypes: float64(3), int64(3), object(4)
memory usage: 78.2+ KB

In [7]:
data.drop(columns=['Ad Topic Line','City','Country'],inplace = True)
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,0,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,1,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,0,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,1,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,0,2016-06-03 03:36:18,0

In [12]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'])
data['year'] = data.Timestamp.dt.year
data['month'] = data.Timestamp.dt.month
data['day'] = data.Timestamp.dt.day

In [15]:
data.drop('Timestamp',axis=1,inplace = True)
data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad,year,month,day
0,68.95,35,61833.90,256.09,0,0,2016,3,27
1,80.23,31,68441.85,193.77,1,0,2016,4,4
2,69.47,26,59785.94,236.50,0,0,2016,3,13
3,74.15,29,54806.18,245.89,1,0,2016,1,10
4,68.37,35,73889.99,225.58,0,0,2016,6,3

In [17]:
X = data.drop(columns='Clicked on Ad').copy()
y = data['Clicked on Ad'].copy()

In [18]:
from sklearn.model_selection import train_test_split as tts
Xtr, Xte, ytr, yte = tts(X,y)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
clf = LogisticRegression()
clf.fit(Xtr,ytr)
ypred = clf.predict(Xte)

In [21]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [22]:
confusion_matrix(ypred,yte)

array([[132,   3],
       [  2, 113]])

In [23]:
accuracy_score(ypred,yte)

0.98

In [24]:
from sklearn.metrics import classification_report

In [26]:
print(classification_report(yte,ypred))

              precision    recall  f1-score   support

           0       0.98      0.99      0.98       134
           1       0.98      0.97      0.98       116

    accuracy                           0.98       250
   macro avg       0.98      0.98      0.98       250
weighted avg       0.98      0.98      0.98       250